<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
    <description>kZen ERGO-RR</description>
    <display-name>kZen ERGO-RR</display-name>
    <listener>
        <listener-class>com.sun.xml.ws.transport.http.servlet.WSServletContextListener</listener-class>
    </listener>
    <servlet>
        <servlet-name>http-csw</servlet-name>
        <display-name>http-csw</display-name>
        <description>CSW HTTP interface</description>
        <servlet-class>be.kzen.ergorr.interfaces.RegistryHTTPServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>http-csw</servlet-name>
        <url-pattern>/httpservice</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>ws-csw</servlet-name>
        <display-name>ws-csw</display-name>
        <description>CSW webservice interface</description>
        <servlet-class>com.sun.xml.ws.transport.http.servlet.WSServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>ws-csw</servlet-name>
        <url-pattern>/webservice/*</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>ws-rimlcm</servlet-name>
        <display-name>ws-rimlcm</display-name>
        <description>RIM LifeCycleManager webservice interface</description>
        <servlet-class>com.sun.xml.ws.transport.http.servlet.WSServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>ws-rimlcm</servlet-name>
        <url-pattern>/rimlcm/*</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>ws-rimquery</servlet-name>
        <display-name>ws-rimquery</display-name>
        <description>RIM Query webservice interface</description>
        <servlet-class>com.sun.xml.ws.transport.http.servlet.WSServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>ws-rimquery</servlet-name>
        <url-pattern>/rimquery/*</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>60</session-timeout>
    </session-config>
</web-app>
