<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
    <description>kZen ERGO-RR</description>
    <display-name>kZen ERGO-RR</display-name>
    <listener>
        <listener-class>com.sun.xml.ws.transport.http.servlet.WSServletContextListener</listener-class>
    </listener>
    <servlet>
        <description>JAX-WS endpoint</description>
        <display-name>ergorr</display-name>
        <servlet-name>ergorr</servlet-name>
        <servlet-class>com.sun.xml.ws.transport.http.servlet.WSServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet>
        <servlet-name>ebXMLRegistrySOAPService</servlet-name>
        <servlet-class>com.sun.xml.ws.transport.http.servlet.WSServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
        </servlet>
    <servlet>
        <servlet-name>webservice</servlet-name>
        <servlet-class>com.sun.xml.ws.transport.http.servlet.WSServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
        </servlet>
    <servlet-mapping>
        <servlet-name>ergorr</servlet-name>
        <url-pattern>/webservice/*</url-pattern>
    </servlet-mapping>
    <servlet>
        <description>HTTP endpoint</description>
        <display-name>httpergorr</display-name>
        <servlet-name>httpergorr</servlet-name>
        <servlet-class>be.kzen.ergorr.interfaces.RegistryHTTPServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>httpergorr</servlet-name>
        <url-pattern>/httpservice</url-pattern>
    </servlet-mapping>
    <servlet>
        <description>JAX-WS endpoint</description>
        <display-name>rimlcm</display-name>
        <servlet-name>rimlcm</servlet-name>
        <servlet-class>com.sun.xml.ws.transport.http.servlet.WSServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>rimlcm</servlet-name>
        <url-pattern>/rimlcm/*</url-pattern>
    </servlet-mapping>
    <servlet>
        <description>JAX-WS endpoint</description>
        <display-name>rimquery</display-name>
        <servlet-name>rimquery</servlet-name>
        <servlet-class>com.sun.xml.ws.transport.http.servlet.WSServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>rimquery</servlet-name>
        <url-pattern>/rimquery/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ebXMLRegistrySOAPService</servlet-name>
        <url-pattern>/ebXMLRegistrySOAPService</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>webservice</servlet-name>
        <url-pattern>/webservice</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>60</session-timeout>
    </session-config>
</web-app>
