<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
    <description>Buddata GUI</description>
    <display-name>Buddata GUI</display-name>
    <servlet>
        <servlet-name>XSLTProxy</servlet-name>
        <servlet-class>it.intecs.pisa.proxy.xsltproxy.XSLTProxy</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetResource</servlet-name>
        <servlet-class>it.intecs.pisa.erogorr.ui.GetResource</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>StoreData</servlet-name>
        <servlet-class>it.intecs.pisa.erogorr.ui.StoreData</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Harvest</servlet-name>
        <servlet-class>it.intecs.pisa.erogorr.ui.Harvest</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RestServlet</servlet-name>
        <servlet-class>it.intecs.pisa.erogorr.ui.RestServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProxyRedirect</servlet-name>
        <servlet-class>it.intecs.pisa.proxy.proxyredirect.ProxyRedirect</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UsersManager</servlet-name>
        <servlet-class>it.intecs.pisa.erogorr.ui.UsersManager</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>XSLTProxy</servlet-name>
        <url-pattern>/ProxyRedirect</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetResource</servlet-name>
        <url-pattern>/rest/resources/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>StoreData</servlet-name>
        <url-pattern>/rest/storedata</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Harvest</servlet-name>
        <url-pattern>/rest/harvest/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProxyRedirect</servlet-name>
        <url-pattern>/Redirect</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UsersManager</servlet-name>
        <url-pattern>/rest/users/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RestServlet</servlet-name>
        <url-pattern>/rest/set</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>60</session-timeout>
    </session-config>
</web-app>
