
    
.settings {
    background-image:url( ../images/icons/folder_wrench.png ) !important;
}
.nav {
    background-image:url( ../images/icons/folder_go.png ) !important;
}


.mask-workspace-loading div {
    background-color:#FF0000;
    background:no-repeat 5px 5px;
    padding:50px 50px 50px 50px;
    line-height:160px;
    background-image:url(../images/loader.gif);
}