/* icons for Basic map actions */
.webgis-mapaction-dragpan {
	background-image: url(../images/icons/dragpan.png) !important;
}
.webgis-mapaction-fullextent {
	background-image: url(../images/icons/fullextent.png) !important;
}
.webgis-mapaction-zoomin {
	background-image: url(../images/icons/zoomin.png) !important;
}
.webgis-mapaction-scale {
	background-image: url(../images/icons/scale.png) !important;
}

.webgis-mapaction-simplelegend {
	background-image: url(../images/icons/legend2.png) !important;
}

.webgis-mapaction-zoomout {
	background-image: url(../images/icons/zoomout.png) !important;
}
.webgis-mapaction-zoominbox {
	background-image: url(../images/icons/zoominbox.png) !important;
}
.webgis-mapaction-zoomoutbox {
	background-image: url(../images/icons/zoomoutbox.png) !important;
}
.webgis-mapaction-previousextent {
	background-image: url(../images/icons/previousextent.png) !important;
}
.webgis-mapaction-selectAOI {
	background-image: url(../images/icons/setaoi.png) !important;
}
.webgis-mapaction-selection {
	background-image: url(../images/icons/setaoi.png) !important;
}
.webgis-mapaction-infofeature {
	background-image: url(../images/icons/identify3.png) !important;
}
.webgis-mapaction-remove-selection {
	background-image: url(../images/icons/removesetaoi.png) !important;
}
.webgis-mapaction-nextextent {
	background-image: url(../images/icons/nextextent.png) !important;
}
.webgis-mapaction-error {
	background-image: url(../images/icons/error.png) !important;
}

/* icons for Editor map actions */
.webgis-mapaction-drawline {
	background-image: url(../images/icons/drawline.png) !important;
}
.webgis-mapaction-drawpoint {
	background-image: url(../images/icons/drawpoint.png) !important;
}
.webgis-mapaction-drawpolygon {
	background-image: url(../images/icons/drawpolygon.png) !important;
}
.webgis-mapaction-modifyfeature {
	background-image: url(../images/icons/modifyfeature.png) !important;
}
.webgis-mapaction-dragfeature {
	background-image: url(../images/icons/dragfeature.png) !important;
}
.webgis-mapaction-selectfeature {
	background-image: url(../images/icons/selectfeature.png) !important;
}
.webgis-mapaction-deletefeature {
	background-image: url(../images/icons/deletefeature.png) !important;
}

/* icons for Measure map actions */
.webgis-mapaction-measurelength {
	background-image: url(../images/icons/measurelength.png) !important;
}
.webgis-mapaction-measurearea {
	background-image: url(../images/icons/measurearea.png) !important;
}

/* icons for Identify map actions */
.webgis-mapaction-identify {
	background-image: url(../images/icons/identify.png) !important;
}

/* styles for metadatalist */
.webgis-metadatalist h3 {
	font-size: 12px;
	margin-bottom: 5px;
}
.webgis-metadatalist dt {
	font-weight: bold;
}
.webgis-metadatalist dd {
	text-indent: 20px;
}
